<h1>Nhóm 1</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">MSSV</th>
            <th scope="col">Họ và tên</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>1721031589</td>
            <td>Trần Hoài Nghĩa</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>1721031558</td>
            <td>Thái Minh Tâm</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
        </tr>
    </tbody>
</table>